<div class="card-container">
	<div class="card-title">
		Change Password
		<span class="card-subtitle">change or reset your account password</span>
	</div>
	<div class="card-divider"></div>
	<div class="card-content">
		<form [formGroup]="form">

			<app-form-field label="Current Password">
				<input type="password" placeholder="Current Password" formControlName="curPassword" appFormFieldInput>
				<app-form-field-error *ngIf="form.get('curPassword').hasError('required')">Please fill out this field
				</app-form-field-error>
			</app-form-field>

			<app-form-field label="New Password">
				<input type="password" placeholder="New Password" formControlName="newPassword" appFormFieldInput>
				<app-form-field-error *ngIf="form.get('newPassword').hasError('required')">Please fill out this field
				</app-form-field-error>
				<app-form-field-error *ngIf="form.get('newPassword').hasError('minlength')">Must exceed 8 character
				</app-form-field-error>
			</app-form-field>

			<app-form-field label="Retype Password">
				<input type="password" placeholder="Retype Password" formControlName="retypePassword" appFormFieldInput>
				<app-form-field-error *ngIf="form.get('retypePassword').hasError('required')">Please fill out this field
				</app-form-field-error>
				<app-form-field-error *ngIf="form.get('retypePassword').hasError('mustMatch')">Password Not Matched
				</app-form-field-error>
			</app-form-field>

			<div class="card-option">
				<a (click)="forgetPass()">Forget Password ?</a>
				<button appJalaButton style="width: 14rem;" color="primary" (click)="submit(form.value)">Submit</button>
			</div>

		</form>
	</div>
</div>
