.card-body {
	&-header {
		width: 100%;
		height: 75px;
		background: white;
		font-family: Ubuntu;
		font-style: normal;
		font-weight: 500;
		font-size: 24px;
		line-height: 28px;
		color: #000000;
		text-align: center;
	}
}

.tabs {
	width: 100%;
	display: flex;
	flex-direction: column;
	overflow: hidden;
	border-radius: 0;

	&-header {
		width: 100%;
		display: flex;
		flex-direction: row;
		align-items: center;
		height: 5.4rem;
		background-color: #D9D9D9;

		&-item {
			color: #9B9B9B;
			width: calc(100% / 2);
			height: 100%;
			display: flex;
			flex-direction: row;
			justify-content: center;
			align-items: center;
			cursor: pointer;
			transition: all .3s ease;

			&:hover {
				color: #7b9d8f;
				background-color: lighten(#D9D9D9, 5);
			}

			& > * {
				margin: 0 .5rem;
			}

			&-icon {
				// height: 4rem;
				width: 4rem;

				& svg {
					width: 80%;
					height: 80%;
					fill: currentColor;
				}
			}

			&-title {
				font-weight: 500;
				font-size: 1.7rem;
				line-height: 2.3rem;
			}

			&--active {
				background-color: white !important;
				border-bottom: 4px solid #57bf94;
				color: #57BF94 !important;
			}
		}
	}

	&-content {
		padding: 3rem 3rem;
		background-color: white;
	}
}
