<div class="wrapper">
	<div class="card-info">
		<div>
			<svg>
				<use xlink:href="assets/sprite.svg#icon-lead"></use>
			</svg>
		</div>
		<h3>Total</h3>
		<h2>{{dataForTable?.length ? dataForTable?.length : '0' }}</h2>
		<h4>Leads</h4>
	</div>
	<app-section-leads color="green">
		<div class="title">
			<svg>
				<use xlink:href="assets/symbol-defs.svg#icon-filter"></use>
			</svg>
			<h3>FILTER</h3>
		</div>
		<div class="filter">
			<form [formGroup]="formFilter" *ngIf="dataForFilter">
				<div>
					<span (click)="getDate.reset()">x</span>
					<input type="text"
						   formControlName="getDate"
						   appFormFieldInputGreen
						   placeholder="Pick date range"
						   bsDaterangepicker
						   placement="bottom"
						   [maxDate]="dateNow"
						   [bsConfig]="{ isAnimated: true, containerClass: 'theme-default',rangeInputFormat: 'MMM DD YYYY' }">
				</div>
				<ng-select [items]="dataForFilter.getCampaign" formControlName="getCampaign" bindValue="id"
						   placeholder="Campaign"
						   bindLabel="name" class="jala-select-lead-filter--green"></ng-select>
				<ng-select [items]="dataForFilter.getChannel" formControlName="getChannel" bindValue="id"
						   placeholder="Channel"
						   bindLabel="name" class="jala-select-lead-filter--green"></ng-select>
				<ng-select [items]="dataForFilter.getSalesOfficer" formControlName="getSalesOfficer" bindValue="id"
						   placeholder="Sales Officer"
						   bindLabel="name" class="jala-select-lead-filter--green"></ng-select>
				<ng-select [items]="dataForFilter.getSalesTeam" formControlName="getSalesTeam" bindValue="id"
						   placeholder="Sales Team"
						   bindLabel="name" class="jala-select-lead-filter--green"></ng-select>
				<ng-select [items]="dataForFilter.getStatus" formControlName="getStatus" bindValue="id"
						   placeholder="Status"
						   bindLabel="name" class="jala-select-lead-filter--green"></ng-select>
				<ng-select [items]="dataForFilter.getCategory" formControlName="getCategory" bindValue="id"
						   placeholder="Category"
						   bindLabel="name" class="jala-select-lead-filter--green"></ng-select>
				<ng-select [items]="dataForFilter.getMedia" formControlName="getMedia" bindValue="id"
						   placeholder="Media"
						   bindLabel="name" class="jala-select-lead-filter--green"></ng-select>
			</form>
		</div>
	</app-section-leads>
	<app-section-leads style="grid-row: 3; grid-column: 1/3">
		<div class="title">
			<svg>
				<use xlink:href="assets/symbol-defs.svg#icon-graph"></use>
			</svg>
			<h3>CHART PER CATEGORIES</h3>
		</div>
		<div class="card-body">
			<ng-template let-data [ngIf]="dataForChart1" [ngIfElse]="spinner">
				<ng-template [ngIf]="data !== 'empty'" [ngIfElse]="elseBlock">
					<app-bar-stacked-chart [dataParent]="data"></app-bar-stacked-chart>
				</ng-template>
			</ng-template>
		</div>
	</app-section-leads>
	<!--<app-section-leads style="grid-row: 3; grid-column: 1/3">
		<div class="title">
			<svg>
				<use xlink:href="assets/symbol-defs.svg#icon-graph"></use>
			</svg>
			<h3>CHART PER CHANNEL</h3>
		</div>
		<div class="card-body">
			<ng-template let-data [ngIf]="dataForChart2" [ngIfElse]="spinner">
				<ng-template [ngIf]="data !== 'empty'" [ngIfElse]="elseBlock">
					<app-bar-stacked-chart [dataParent]="data" [showMore]="true"></app-bar-stacked-chart>
				</ng-template>
			</ng-template>
		</div>
	</app-section-leads>-->

	<app-section-leads style="grid-row: 2; grid-column: 1/3">
		<div class="title">
			<svg>
				<use xlink:href="assets/symbol-defs.svg#icon-graph"></use>
			</svg>
			<h3>LEAD TOTAL</h3>
		</div>
		<div class="card-body">
			<div style="position: absolute;top: -2rem;right: 2rem;width: 40rem">
				<app-button-toggle-group [(value)]="chartLineOption" (valueChange)="chartLineOptionChange()">
					<app-button-toggle value="day">Day</app-button-toggle>
					<app-button-toggle value="week">Week</app-button-toggle>
					<app-button-toggle value="month">Month</app-button-toggle>
					<app-button-toggle value="year">Year</app-button-toggle>
				</app-button-toggle-group>
			</div>
			<ng-template let-data [ngIf]="dataForChartLine" [ngIfElse]="spinner">
				<ng-template [ngIf]="data !== 'empty'" [ngIfElse]="elseBlock">
					<!--					<app-bar-stacked-chart [dataParent]="data" [showMore]="true"></app-bar-stacked-chart>-->
					<app-line-chart [data]="data?.data" [label]="data?.label"></app-line-chart>
				</ng-template>
			</ng-template>
		</div>
	</app-section-leads>

	<div class="wrapper-action" style="grid-row: 4; grid-column: 1/3">
		<app-form-field-green icon="search" label="search">
			<input type="text" placeholder="Search Name and Phone Lead" [formControl]="searchInputForm">
		</app-form-field-green>
		<div class="button-action">
			<button appJalaButtonInlineIcon color="primary" icon="download" (click)="openDownload()">DOWNLOAD
			</button>
			<ng-template [appPermission]="{page: 'lead', feature: 'add'}">
				<button appJalaButtonInlineIcon color="primary" icon="upload" (click)="openUpload()">UPLOAD
				</button>
			</ng-template>
		</div>
	</div>

	<app-project-lead-table [dataLeads]="dataForTable" style="grid-row: 5; grid-column: 1/3"
							(openOverlay)="overlay.open($event)"></app-project-lead-table>
</div>
<app-overlay-lead-detail #overlay></app-overlay-lead-detail>

<ng-template #elseBlock>
	<h1 style="text-align: center; margin: 3rem auto; color: #9B9B9B; font-size: 2rem; font-weight: 400;">There is
		No
		Data</h1>
</ng-template>

<ng-template #spinner>
	<app-loader-spinner-v2 height="10rem"></app-loader-spinner-v2>
</ng-template>
