# Editor configuration, see https://editorconfig.org
root = true

[*]
charset = utf-8
indent_style = tab
indent_size = 4
insert_final_newline = true
trim_trailing_whitespace = true
[*.ts]
ij_typescript_spaces_within_array_initializer_brackets = true
ij_typescript_spaces_within_brackets = false
ij_typescript_spaces_within_catch_parentheses = true
ij_typescript_spaces_within_for_parentheses = true
ij_typescript_spaces_within_if_parentheses = true
ij_typescript_spaces_within_imports = true
ij_typescript_spaces_within_interpolation_expressions = true
ij_typescript_spaces_within_method_call_parentheses = true
ij_typescript_spaces_within_method_parentheses = true
ij_typescript_spaces_within_object_literal_braces = true
ij_typescript_spaces_within_object_type_braces = true
ij_typescript_spaces_within_parentheses = true
ij_typescript_spaces_within_switch_parentheses = true
ij_typescript_spaces_within_type_assertion = true
ij_typescript_spaces_within_union_types = true
ij_typescript_spaces_within_while_parentheses = true

[*.md]
max_line_length = off
trim_trailing_whitespace = false
