.chart-line {
	display: block;
}
.chart-line__small{
	width: auto;
}

@media screen and (max-width: 768px){
	.chart-line {
		overflow: hidden;
		width: 700px;
		margin: 0;
	}
	.chart-line__small{
		width: 700px;
		height: auto;
		display: block;
	}
}
