<app-breadcrumb title="Project" subtitle="Detail"></app-breadcrumb>
<div class="card">
	<div class="kt-container ">
	    <div class="kt-subheader__main">
            <div class="logo">
                <img src="assets/warning.png">
            </div>
            <div class="text">
                It’s look like you don’t setup any project,
                set up now by click button below !
            </div>
            <button appJalaButton color="primary" class="button" [routerLink]="['../new']">
               + ADD
            </button>
        </div>
	</div>
</div>


