.form-field {
	> div {
		display: flex;
		flex-direction: row;
		align-items: center;

		> :last-child {
			margin-left: 5rem;
		}
	}

	> h3 {
		color: #9B9B9B;
		font-size: 1.6rem;
		line-height: 1.8rem;
		font-weight: 400;

		> span {
			margin-left: 3px;
			font-size: inherit;
			color: #FA514E;
		}
	}
	& > .radio-group-linear {
		display: flex;

		& > :last-child {
			margin-left: 0;
		}
	}
}
