<div class="card-container">
	<div class="card-title">
		User Setting
		<span class="card-subtitle">modify or add user to access dashboard</span>
	</div>
	<div class="card-divider"></div>
	<div class="card-content">
		<!-- <form [formGroup]="form">
			<app-form-field label="text">
				<input type="text" placeholder="jancok" formControlName="text" appFormFieldInput>
				<app-form-field-error *ngIf="form.get('text').hasError('required')">Jancok Jaran
					Sak dokar'e ban e 3
				</app-form-field-error>
			</app-form-field>
			<app-form-field label="pass">
				<input type="password" placeholder="jancok" formControlName="pass" appFormFieldInput>
				<app-form-field-error *ngIf="form.get('pass').hasError('required')">Jancok Jaran
					Sak dokar'e ban e 3
				</app-form-field-error>
			</app-form-field>
			<app-form-field label="email">
				<input type="email" placeholder="jancok" formControlName="email" appFormFieldInput>
				<app-form-field-error *ngIf="form.get('email').hasError('required')">Email Required
				</app-form-field-error>
				<app-form-field-error *ngIf="form.get('email').hasError('email')">
					Email is not Valid
				</app-form-field-error>
			</app-form-field>
		</form> -->
	</div>
</div>
