table {
	width: calc(100% + (5 * 50px));;
	border-spacing: 0;
	//border-collapse: collapse;
	//height: 371px;
	background: white;
	border-radius: 1rem 1rem 0 0;
}


.table-wrapper {
	width: 100%;
	overflow-x: auto;

	&::-webkit-scrollbar {
		height: 10px;
		background-color: rgba(0, 0, 0, .06);
	}

	&::-webkit-scrollbar-thumb {
		background-color: rgba(0, 0, 0, .26);
		border-radius: 10px;
	}

	&:hover::-webkit-scrollbar {
		height: 10px;
		background-color: rgba(0, 0, 0, .06);
	}

	&:hover::-webkit-scrollbar-thumb {
		background-color: rgba(0, 0, 0, .36);
	}
}

:host ::ng-deep .mat-sort-header-container {
	justify-content: center;
}

th {
	height: 8rem;
	font-family: inherit;
	font-weight: 500;
	font-size: 2rem;
	color: #9B9B9B;
	border-bottom: 2px solid #E8E8E8;

	&:first-child {
		border-radius: 10px 0 0 0;
	}

	&:last-child {
		border-radius: 0 10px 0 0;
	}

}


td {
	height: 7rem;
	border: none;

	&.cdk-column-name {
		width: 18%;
		max-width: 25%;
	}

	&.cdk-column-alias {
		width: 6rem;
	}

	&.cdk-column-leads {
		width: 10rem;
	}

	&.cdk-column-campaign {
		width: 10rem;
	}

	&.cdk-column-channel {
		width: 10rem;
	}

	&.cdk-column-product {
		width: 10rem;
	}
}


.cdk-table-sticky.cdk-header-cell:not(:first-child):not(:last-child) {
	border-right: 1px solid darken(#e0e0e0, 3);
}

.cdk-table-sticky.cdk-header-cell:last-child {
	border-left: 1px solid darken(#e0e0e0, 3);
}

.cdk-table-sticky:not(.cdk-header-cell) {
	border-right: 1px solid #e0e0e0;
	background-color: darken(#fff, 3);
}

.cdk-table-sticky.cdk-header-cell {
	background-color: darken(#fff, 5);
}

.cdk-table-sticky:first-child:not(.cdk-header-cell) {
	border-right: none;
	border-left: none;
	background-color: darken(#fff, 3);
}

.cdk-table-sticky:last-child:not(.cdk-header-cell) {
	border-left: 1px solid #e0e0e0;
	border-right: none;
	background-color: darken(#fff, 3);
}

tr.trigger-row {
	height: 7rem;
	border-bottom: 1px solid #E8E8E8;
	transition: background-color .2s ease;
}

tr.trigger-row:not(.expand-row):hover {
	background: #F3F5F9;
}

tr.trigger-row:not(.expand-row):active {
	background: #F3F5F9;
}


.card {
	&__title {

		&-balloon {
			width: 4rem;
			height: 4rem;
			border-radius: 10rem;
			background-color: #E8E8E8;
			position: relative;
			margin: 0 auto;

			& span {
				font-weight: 500;
				font-size: 1.6rem;
				line-height: 1.8rem;
				position: absolute;
				color: #9B9B9B;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
			}
		}

		&-title {
			font-weight: 500;
			font-size: 1.4rem;
			line-height: 1.6rem;
		}

		&-subtitle {
			font-weight: 300;
			font-size: 1.2rem;
			line-height: 1.4rem;
			font-style: italic;
		}

		&-status {
			width: 10rem;
			height: 3.6rem;
			border-radius: 1rem;
			margin: 0 auto;
			position: relative;

			& span {
				top: 50%;
				left: 50%;
				position: absolute;
				transform: translate(-50%, -50%);
				color: inherit;
				font-weight: 500;
				font-size: 1.2rem;
				line-height: 1.4rem;
			}

			&--green {
				background-color: #EDF8F3;
				color: #46B989;
			}

			&--yellow {
				background-color: #FFF2E5;
				color: #FF7A00;
			}

			&--red {
				background-color: #FFCFCC;
				color: #FF6F67;
			}
		}
	}

	&__status {
		&-date {
			width: 11.5rem;
			margin: 0 auto;
		}
	}

	&__data {
		background-color: #EFEFEF;
		width: 7rem;
		height: 4rem;
		display: flex;
		margin: 0 auto;
		justify-content: center;
		align-items: center;
		border-radius: 10px;
		cursor: pointer;

		& > h3 {
			font-weight: 400;
			font-size: 1.4rem;
			line-height: 1.6rem;
			color: #000000;
		}
	}
}

.table-paginator {
	display: flex;
	flex-direction: row;
	align-items: center;
	border-radius: 0 0 10px 10px;
	border-top: 1px solid #E8E8E8;
	background-color: #fff;

	> h4 {
		font-family: 'Ubuntu', sans-serif;
		margin-left: 2rem;
		font-size: 1.2rem;
		font-weight: 300;
	}

	> mat-form-field {
		height: 4rem;
		width: 5rem;
		margin-left: 1rem;
		font-size: 1.2rem;
	}

	> mat-paginator {
		margin-left: auto;
		border-radius: 0 0 10px 0;
		font-family: 'Ubuntu', sans-serif;
	}

}
