.container {
	display: flex;
	flex-direction: column;
	padding-bottom: 1rem;

	&-title {
		margin-bottom: 4rem;

		& h3 {
			font-family: Ubuntu;
			font-style: normal;
			font-weight: bold;
			font-size: 2rem;
			line-height: 23px;
			margin-bottom: 1rem;
		}

		& h4 {
			font-family: Ubuntu;
			font-size: 1.6rem;
			font-weight: normal;
			color: #9B9B9B;
		}
	}
}

.form {
	display: flex;
	flex-direction: column;
	margin-bottom: 5.5rem;

	& > * {
		margin-bottom: 1.5rem;
	}

	&-field {
		position: relative;

		& input {
			padding: 1.4rem;
			background-color: #F5F5F5;
			outline: none;
			border: none;
			border-radius: 1rem;
			width: 100%;
			font-size: 1.6rem;
		}

		& input::placeholder {
			font-size: 1.6rem;
			color: #D9D9D9;
		}

		& label {
			position: absolute;
			height: 2rem;
			width: 2rem;
			right: 1.5rem;
			top: 50%;
			transform: translateY(-50%);
		}

		& label span {
			width: 100%;
			height: 100%;
		}

		& label span svg {
			width: 100%;
			height: 100%;
		}

		&-error {
			width: 100%;
			font-size: 1.3rem;
			color: #FF6F67;
			padding: 0 1rem;
		}

	}

	&-option {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		color: #9B9B9B;
		font-size: 1.4rem;

		& a {
			text-decoration: none;
			color: inherit;
		}
	}

	&-action {
		display: flex;
		flex-direction: row;
		justify-content: space-around;
	}

	&-button {
		background-color: #FF6F67;
		outline: none;
		border-radius: 1rem;
		font: inherit;
		font-size: 1.4rem;
		height: 4rem;
		width: 14rem;
		border: none;
		color: white;
		margin: 0 auto;

		&-muted {
			background-color: #D9D9D9;
			color: #9B9B9B;
		}
	}
}
